.introduction {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 40px 0px;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--black);

    .intro-content {
        width: 45%;
        height: 100%;
        padding: 50px;
        font-family: myriad;

        h4 {
            color: var(--teal);
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 2.4em;
            color: var(--white);
            text-transform: uppercase;
            margin-bottom: 40px;
            line-height: 60px;
        }

        h5 {
            font-size: 1.2em;
            color: var(--text);
            font-weight: lighter;
            margin-bottom: 60px;
            line-height: 30px;
        }

        button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--teal);
            color: var(--black);
            padding: 10px 30px;
            border-radius: 20px;
            font-size: 1em;
            font-weight: bold;
            text-transform: uppercase;
            width: 50%;
            border: none;
        }

        span {
            margin-left: 20px;
            font-size: 1.5em;
            display: grid;
            place-items: center;
        }
    }

    .intro-image {
        width: 35%;
        height: 100%;
        padding: 30px 100px;
        position: relative;

        .image {
            height: 100%;
            background-image: url('code.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            // rotate: -20deg;
        }

        .react-icon,
        .asp-icon {
            position: absolute;
            height: 100px;
        }

        .react-icon {
            left: 10px;
            top: 10px;
        }

        .asp-icon {
            right: 10px;
            bottom: 10px;
        }
    }
}

.divider-400 {
    margin-top: calc(100vh - var(--header-height));
}

.home-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5),
        inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    min-height: 100vh;

    // Styling for ExperienceTable component
    .experience-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 0px;

        .content-heading {
            height: 200px;
            width: 60%;
            padding-bottom: 100px;

            h1 {
                font-size: 2.5em;
                color: var(--black);
                text-transform: uppercase;
                margin-bottom: 30px;
                line-height: 60px;
                font-family: brandon-medium;
                width: 80%;
            }
        }

        .content-text {
            display: flex;
            width: 60%;
        }

        .text {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 10px 40px 10px 0px;
        }

        .item {
            display: flex;
            font-family: brandon-regular;
            color: text;
            font-size: 1.3em;
            height: 20%;
            line-height: 1.2;


            span {
                color: green;
                padding: 5px 10px;
            }
        }
    }

    // Styling for RecentWork component
    .recent-work {
        padding: 100px 0px;
        width: 80%;


        h1 {
            font-size: 2.5em;
            color: var(--black);
            text-transform: uppercase;
            margin-bottom: 30px;
            font-family: brandon-medium;
            text-align: center;
        }



        .work-item {
            display: flex;
            flex-direction: column;
            align-items: end;
            padding-top: 60px;



            img {
                height: 450px;
                box-shadow: 3px 3px 5px grey;
            }

            h4 {
                font-family: brandon-thin;
                font-size: 1.5em;
                text-transform: uppercase;
                color: rgb(76, 76, 76);
            }

            h6 {
                font-family: brandon-bold;
                font-size: 0.8em;
                color: var(--teal);
                text-transform: uppercase;
            }
        }

        .work-item:nth-child(2n) {
            align-items: start;
        }


    }

    .tech-icons {
        background-image: url('tech-icons.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        width: 100%;
        // background-color: var(--white);
        // box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5),
        //     inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
    }
}

.react-icon {
    width: 100px;
    height: 100px;
    animation: reactBounceAndRotate 10s infinite;
}

.asp-icon {
    width: 100px;
    height: 100px;
    animation: aspBounceAndRotate 10s infinite;
}


@keyframes reactBounceAndRotate {

    0%,
    100% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translatex(500px) rotate(360deg);
    }
}

@keyframes aspBounceAndRotate {

    0%,
    100% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translatex(-500px) rotate(-360deg);
    }
}

.element {
    height: 300px;
    width: 300px;
    background-color: crimson;
}



