@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "myriad";
  src: url("/fonts/myriad-pro.otf");
}
@font-face {
  font-family: "brandon-thin";
  src: url("/fonts/brandon/thin.otf");
}
@font-face {
  font-family: "brandon-regular";
  src: url("/fonts/brandon/regular.otf");
}
@font-face {
  font-family: "brandon-medium";
  src: url("/fonts/brandon/medium.otf");
}
@font-face {
  font-family: "brandon-bold";
  src: url("/fonts/brandon/bold.otf");
}
:root {
  --heading-font-family: "Playfair Display", serif;
  --paragraph-font-family: "Montserrat", sans-serif;
  --permanent-marker: "Permanent Marker", cursive;
  --open-sans: font-family: "Open Sans", sans-serif;
  --shadow: 2px 2px 4px grey;
  --header-height: 100px;
  --teal: #01BDDA;
  --black: black;
  --white: white;
  --text: rgb(121, 121, 121);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
}

.active {
  border-bottom: solid 5px var(--teal);
  font-weight: bold;
}

.mobile-active {
  background-color: var(--primary-color);
  font-weight: bold;
}

.page-container {
  padding-top: var(--header-height);
  width: 100vw;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-left-column {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.back-to-top-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: grid;
  place-items: center;
  height: 55px;
  width: 55px;
  background-color: rgb(231, 231, 231);
  border-radius: 50%;
  border: solid 1px var(--primary-color);
  font-size: 1.8em;
  color: var(--secondary-text-color);
  z-index: 4;
  opacity: 0.9;
}

.back-to-top-container:hover {
  cursor: pointer;
  opacity: 1;
}

.footer-container {
  background-color: var(--black);
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 3;
  border-top: solid 1px rgb(131, 131, 131);
}
.footer-container .linkedin-icon {
  font-size: 2em;
  color: var(--teal);
  padding: none;
  margin: none;
}
.footer-container h6 {
  font-size: 1.2em;
  color: var(--white);
}

header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  background-color: var(--black);
  z-index: 3;
}
header a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
header a:-webkit-any-link:hover {
  opacity: 0.7;
}

#main-menu {
  position: relative;
  display: grid;
  place-items: center;
  box-shadow: 2px 2px 2px rgb(186, 186, 186);
  padding: 10px 50px;
  height: var(--header-height);
}
#main-menu .hamburger {
  font-size: 2.5em;
  color: var(--white);
  display: none;
}
@media only screen and (max-width: 900px) {
  #main-menu .hamburger {
    font-size: 2.1em;
  }
}
@media only screen and (max-width: 900px) {
  #main-menu {
    padding: 10px 20px;
  }
  #main-menu .hamburger {
    display: block;
  }
}
#main-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#main-menu ul .page-links {
  display: flex;
  align-items: center;
}
#main-menu ul li {
  font-family: var(--paragraph-font-family);
  font-size: 1.1em;
  list-style: none;
  text-transform: capitalize;
  padding: 10px 15px;
  display: inline;
}
#main-menu ul li a {
  color: var(--white);
}
#main-menu ul .linkedin-icon {
  font-size: 2.8em;
  color: var(--teal);
  padding: none;
  margin: none;
}
@media only screen and (max-width: 900px) {
  #main-menu ul .linkedin-icon {
    display: none;
  }
  #main-menu ul .page-links {
    display: none;
  }
}
#main-menu .logo {
  font-family: myriad;
  font-size: 2.2em;
  text-transform: uppercase;
}
#main-menu .logo a {
  color: var(--white);
}
#main-menu .logo span {
  background-color: var(--teal);
  color: var(--black);
  padding: 5px 10px;
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  #main-menu .logo {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 400px) {
  #main-menu .logo {
    font-size: 1.2em;
  }
}

#mobile-menu {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}
#mobile-menu .mobile-menu-logo {
  font-family: myriad;
  font-size: 2em;
  text-transform: uppercase;
}
#mobile-menu .mobile-menu-logo span {
  background-color: var(--teal);
  color: var(--black);
  padding: 5px 10px;
  border-radius: 10px;
}
#mobile-menu .mobile-menu-logo a {
  color: var(--white);
}
#mobile-menu nav {
  position: relative;
  height: 100vh;
  padding: 50px 20px;
  width: 50vw;
  background-color: var(--background-color);
  z-index: 2;
  padding-top: 80px;
  box-shadow: 2px 2px 2px black;
}
#mobile-menu nav i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2.5em;
  color: var(--white);
}
#mobile-menu nav li {
  font-family: var(--paragraph-font-family);
  font-size: 1.2em;
  list-style: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin-top: 15px;
}
#mobile-menu nav li a {
  color: var(--white);
}
#mobile-menu nav .linkedin-icon {
  font-size: 3em;
  color: var(--teal);
}
@media only screen and (max-width: 750px) {
  #mobile-menu nav {
    width: 80vw;
  }
}
@media only screen and (max-width: 500px) {
  #mobile-menu nav {
    width: 100vw;
  }
  #mobile-menu .mobile-menu-logo {
    font-size: 1.2em;
  }
}

.open {
  visibility: visible;
  animation: open-animation 0.5s;
}

.close {
  visibility: hidden;
  animation: close-animation 0.5s;
}

@keyframes open-animation {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes close-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150%);
  }
}
.introduction {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 40px 0px;
  height: calc(100vh - var(--header-height));
  background-color: var(--black);
  width: 100vw;
}
.introduction .intro-content {
  width: 45%;
  min-height: 100%;
  padding: 50px;
  font-family: myriad;
}
.introduction .intro-content h4 {
  color: var(--teal);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.introduction .intro-content h1 {
  font-size: 2.4em;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 60px;
}
.introduction .intro-content h5 {
  font-size: 1.2em;
  color: rgb(166, 166, 166);
  font-weight: lighter;
  margin-bottom: 60px;
  line-height: 50px;
  font-family: brandon-regular;
}
.introduction .intro-content button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--teal);
  color: var(--black);
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  width: 50%;
  border: solid white 1px;
  box-shadow: 1px 1px 1px rgb(114, 114, 114);
}
.introduction .intro-content button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.introduction .intro-content a {
  text-decoration: none;
}
.introduction .intro-content span {
  margin-left: 20px;
  font-size: 1.5em;
  display: grid;
  place-items: center;
}
@media only screen and (max-width: 1150px) {
  .introduction .intro-content {
    width: 80%;
  }
}
@media only screen and (max-width: 700px) {
  .introduction .intro-content {
    width: 90%;
    padding: 30px;
  }
  .introduction .intro-content button {
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .introduction .intro-content {
    width: 100%;
    justify-content: start;
  }
  .introduction .intro-content h4 {
    font-size: 0.9em;
  }
  .introduction .intro-content h1 {
    font-size: 2em;
    line-height: 50px;
  }
  .introduction .intro-content h5 {
    font-size: 1em;
  }
  .introduction .intro-content button {
    width: 90%;
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 400px) {
  .introduction .intro-content button {
    width: 100%;
  }
}
.introduction .intro-image {
  width: 45%;
  height: 100%;
  padding: 30px 100px;
  position: relative;
}
.introduction .intro-image .image {
  margin-top: 10%;
  height: 80%;
  background-image: url("code.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.introduction .intro-image .react-icon,
.introduction .intro-image .asp-icon {
  position: absolute;
  height: 100px;
}
.introduction .intro-image .react-icon {
  left: 0px;
  top: 2px;
}
.introduction .intro-image .asp-icon {
  right: 0px;
  bottom: 2px;
}
@media only screen and (max-width: 1150px) {
  .introduction .intro-image {
    display: none;
  }
}

.divider-400 {
  margin-top: calc(100vh - var(--header-height));
}

.project-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5), inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  min-height: 100vh;
}
.project-content .experience-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px 0px 0px;
}
.project-content .experience-content .content-heading {
  width: 60%;
  padding-bottom: 40px;
}
.project-content .experience-content .content-heading h1 {
  font-size: 2.5em;
  color: var(--black);
  text-transform: uppercase;
  font-family: brandon-medium;
  width: 80%;
}
.project-content .experience-content .content-text {
  display: flex;
  width: 65%;
}
.project-content .experience-content .text {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 40px 20px 0px;
}
.project-content .experience-content .item {
  display: flex;
  font-family: brandon-regular;
  color: text;
  font-size: 1.3em;
  height: 20%;
  line-height: 1.2;
}
.project-content .experience-content .item span {
  color: green;
  padding: 5px 10px;
}
@media only screen and (max-width: 1500px) {
  .project-content .experience-content .content-heading {
    width: 80%;
  }
  .project-content .experience-content .content-text {
    width: 80%;
  }
}
@media only screen and (max-width: 1100px) {
  .project-content .experience-content .content-heading h1 {
    font-size: 2.2em;
  }
}
@media only screen and (max-width: 900px) {
  .project-content .experience-content .content-heading {
    width: 100%;
    padding: 0px 0px 40px 10%;
  }
  .project-content .experience-content .content-heading h1 {
    font-size: 1.5em;
  }
  .project-content .experience-content .content-text {
    flex-direction: column;
  }
  .project-content .experience-content .text {
    width: 80%;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .project-content .experience-content .content-heading h1 {
    font-size: 1.2em;
  }
  .project-content .experience-content .text {
    width: 100%;
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 600px) {
  .project-content .experience-content .content-heading {
    width: 100%;
  }
  .project-content .experience-content .content-heading h1 {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 600px) {
  .project-content .experience-content .content-heading {
    width: 100%;
  }
  .project-content .experience-content .content-heading h1 {
    font-size: 1.1em;
  }
  .project-content .experience-content .content-heading .text {
    width: 100%;
    font-size: 0.7em;
  }
}
.project-content #recent-work {
  width: 100vw;
  padding-top: 60px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-content #recent-work h1 {
  font-size: 2.5em;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 60px;
  font-family: brandon-regular;
  width: 100%;
  text-align: center;
}
.project-content #recent-work h6 {
  font-family: brandon-thin;
  color: rgb(197, 197, 197);
  font-size: 1.4em;
  margin-bottom: 30px;
}
.project-content #recent-work .project {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.project-content #recent-work .project .project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project-content #recent-work .project .project-container .image:hover > .project-overlay {
  cursor: pointer;
  visibility: visible;
  background: rgba(0, 0, 0, 0.95);
  box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
}
.project-content #recent-work .project .project-container .image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  border: solid 1px white;
}
.project-content #recent-work .project .project-container .image img {
  height: 100%;
  width: 100%;
}
.project-content #recent-work .project .project-container .image a {
  text-decoration: none;
  width: 100%;
}
.project-content #recent-work .project .project-container .image .project-overlay {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
}
.project-content #recent-work .project .project-container .image .project-overlay .tech-data-1,
.project-content #recent-work .project .project-container .image .project-overlay .tech-data-2,
.project-content #recent-work .project .project-container .image .project-overlay .tech-data-3,
.project-content #recent-work .project .project-container .image .project-overlay .tech-data-4 {
  position: absolute;
  display: flex;
  gap: 10px;
}
.project-content #recent-work .project .project-container .image .project-overlay .tech-data-1 {
  left: 10px;
  bottom: 10px;
}
.project-content #recent-work .project .project-container .image .project-overlay .tech-data-2 {
  left: 10px;
  bottom: 50px;
}
.project-content #recent-work .project .project-container .image .project-overlay .tech-data-3 {
  left: 10px;
  bottom: 90px;
}
.project-content #recent-work .project .project-container .image .project-overlay .tech-data-4 {
  left: 10px;
  bottom: 130px;
}
.project-content #recent-work .project .project-container .image .project-overlay h1 {
  text-transform: uppercase;
  font-family: brandon-bold;
  color: var(--teal);
  padding: 20px;
  background-color: var(--white);
  text-decoration: none;
  border-top: 3px solid var(--black);
  border-bottom: 3px solid var(--black);
  font-size: 1.7em;
}
.project-content #recent-work .project .project-container .image .project-overlay p {
  margin: 0px;
  color: var(--white);
  font-size: 0.9em;
  text-transform: capitalize;
  font-family: brandon-regular;
}
.project-content #recent-work .project .project-container .image .project-overlay h5 {
  margin-top: 0px;
  color: var(--teal);
  font-size: 1.1em;
  text-transform: capitalize;
  font-family: brandon-bold;
}
@media only screen and (max-width: 600px) {
  .project-content #recent-work .project .project-container .image .project-overlay .tech-data-1 {
    bottom: 10px;
  }
  .project-content #recent-work .project .project-container .image .project-overlay .tech-data-2 {
    bottom: 35px;
  }
  .project-content #recent-work .project .project-container .image .project-overlay .tech-data-3 {
    bottom: 60px;
  }
  .project-content #recent-work .project .project-container .image .project-overlay .tech-data-4 {
    bottom: 85px;
  }
}
@media only screen and (max-width: 400px) {
  .project-content #recent-work .project .project-container .image .project-overlay .tech-data-1 {
    bottom: 10px;
  }
  .project-content #recent-work .project .project-container .image .project-overlay .tech-data-2 {
    bottom: 25px;
  }
  .project-content #recent-work .project .project-container .image .project-overlay .tech-data-3 {
    bottom: 40px;
  }
  .project-content #recent-work .project .project-container .image .project-overlay .tech-data-4 {
    bottom: 55px;
  }
}
@media only screen and (max-width: 550px) {
  .project-content #recent-work .project .project-container .image .project-overlay h1 {
    font-size: 1.2em;
  }
  .project-content #recent-work .project .project-container .image .project-overlay h5 {
    font-size: 0.9em;
  }
  .project-content #recent-work .project .project-container .image .project-overlay p {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 400px) {
  .project-content #recent-work .project .project-container .image .project-overlay h1 {
    font-size: 1em;
  }
  .project-content #recent-work .project .project-container .image .project-overlay h5 {
    font-size: 0.6em;
  }
  .project-content #recent-work .project .project-container .image .project-overlay p {
    font-size: 0.6em;
  }
}
.project-content #recent-work .project .project-container .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-content #recent-work .project .project-container .content a {
  text-decoration: none;
}
.project-content #recent-work .project .project-container .content h1 {
  font-family: brandon-regular;
  text-transform: uppercase;
  color: var(--teal);
  margin-bottom: 0px;
  font-size: 1.8em;
}
.project-content #recent-work .project .project-container .content h1:hover {
  opacity: 0.7;
}
.project-content #recent-work .project .project-container .content h4 {
  margin-top: 0px;
  color: var(--white);
  font-size: 1em;
  text-transform: uppercase;
  font-family: brandon-thin;
  margin-bottom: 50px;
}
@media only screen and (max-width: 900px) {
  .project-content #recent-work .project .project-container .content h1 {
    font-size: 1.2em;
  }
  .project-content #recent-work .project .project-container .content h4 {
    font-size: 0.8em;
    margin-top: -15px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 900px) {
  .project-content #recent-work .project .project-container {
    flex-direction: column;
  }
  .project-content #recent-work .project .project-container .image {
    width: 90%;
  }
}
@media only screen and (max-width: 900px) {
  .project-content #recent-work .project {
    padding: 50px 0px;
  }
}
@media only screen and (max-width: 1300px) {
  .project-content #recent-work .project {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .project-content #recent-work h1 {
    font-size: 1.5em;
  }
  .project-content #recent-work h6 {
    font-size: 1em;
  }
}
@media only screen and (max-width: 450px) {
  .project-content #recent-work h6 {
    font-size: 0.9em;
  }
}
.project-content .tech-icons {
  background-image: url("tech-icons.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  margin: 60px 0px;
}

@media only screen and (max-width: 900px) {
  .reverse {
    order: 2;
  }
}
.react-icon {
  width: 100px;
  height: 100px;
  animation: reactBounceAndRotate 20s infinite;
}

.asp-icon {
  width: 100px;
  height: 100px;
  animation: aspBounceAndRotate 20s infinite;
}

@keyframes reactBounceAndRotate {
  100% {
    transform: translateY(0) rotate(0);
  }
  75% {
    transform: translate(40vw, 0px) rotate(-360deg);
  }
  50% {
    transform: translate(40vw, 71vh) rotate(-360deg);
  }
  25% {
    transform: translatey(71vh) rotate(0deg);
  }
}
@keyframes aspBounceAndRotate {
  100% {
    transform: translateY(0) rotate(0);
  }
  75% {
    transform: translate(-40vw, 0px) rotate(-360deg);
  }
  50% {
    transform: translate(-40vw, -73vh) rotate(-360deg);
  }
  25% {
    transform: translatey(-73vh) rotate(0deg);
  }
}
.element {
  height: 300px;
  width: 300px;
  background-color: crimson;
}

.about-container {
  text-align: center;
  padding: 50px 200px;
  width: 70%;
  min-height: calc(100vh - 200px);
}
.about-container h1 {
  font-family: var(--permanent-marker);
  text-transform: uppercase;
  padding: 20px 0px 50px 0px;
  color: var(--secondary-text-color);
}
.about-container p {
  font-family: var(--paragraph-font-family);
  line-height: 30px;
  color: var(--secondary-text-color);
}
.about-container .github-links {
  margin-top: 40px;
}
.about-container .github-links p {
  font-weight: bold;
}
.about-container .github-links a {
  font-size: 5em;
  padding-top: 5px;
  color: var(--teal);
}
.about-container .github-links a:hover {
  opacity: 0.7;
}

.contact-container {
  margin-top: 70px;
}
.contact-container h1 {
  font-family: var(--permanent-marker);
  text-transform: uppercase;
  padding: 20px 0px 50px 0px;
  color: var(--secondary-text-color);
}
.contact-container p {
  font-family: var(--paragraph-font-family);
  line-height: 30px;
  color: var(--secondary-text-color);
  margin-bottom: 70px;
}
.contact-container .contact-form {
  max-width: 600px;
  margin: 0 auto 70px auto;
}
.contact-container .contact-form input[type=text],
.contact-container .contact-form input[type=email],
.contact-container .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.contact-container .contact-form textarea {
  height: 150px;
}
.contact-container .contact-form label {
  font-weight: bold;
}
.contact-container .contact-form button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-container .contact-form button:hover {
  background-color: var(--primary-color);
}/*# sourceMappingURL=master.css.map */